<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <form action="/get-form-data" method="post">    <!-- Yahaa pe vo backend route denaa hai jahaa pe submit krtee hi hit krnaa haii. -->
        <input type="text" name="Username" placeholder="Enter Username">
        <input type="text" name="Email"  placeholder="Enter Email">
        <input type="password"  name="Password"  placeholder="Enter Password">
        <button>Submit Form</button>
    </form>
    <script src="index.js"></script>
</body>
</html>