<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Edit File</title>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10 text-white">
        <a class="text-blue-500 inline-block mb-10" href="/">Go Back to Home</a>
        <h1 class="text-3xl tracking-tighter mb-3">Edit your task</h1>
        <form action="/edit" method="post">
            <input type="hidden" name="previous" value="<%= filename %>">
            
            <input 
                class="block w-full px-5 py-2 bg-zinc-800 rounded-md outline-none" 
                type="text" 
                name="new" 
                value="<%= filename %>">
            
            <textarea 
                class="block w-full px-5 py-2 mt-2 bg-zinc-800 rounded-md outline-none resize-none" 
                name="details"><%= filedata %></textarea>
            
            <input 
                class="mt-2 bg-yellow-600 px-5 py-2 rounded-md cursor-pointer" 
                type="submit" 
                value="Update Task">
        </form>
    </div>
</body>
</html>