<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Secret Message App</title>
</head>
<body>
  <h2>Send Your Secret Message</h2>

  <form action="/save" method="post">
    <textarea name="message" placeholder="Write your secret message..." rows="5" cols="30"></textarea>
    <br>
    <button type="submit">Save Message</button>
  </form>

  <h1>OR</h1>

  <h2>View a Secret Message</h2>

<form action="/getmessage" method="get">
  <input type="text" name="code" placeholder="Enter your secret code">
  <button type="submit">View Message</button>
</form>

</body>
</html>
